fastapi
uvicorn[standard]
requests
python-multipart
a2wsgi
google-genai
python-dotenv
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
openpyxl
aiofiles
websockets
pdfplumber
psycopg2-binary
croniter
